* {
    box-sizing: border-box;
}

html, body {
    background: url('../images/celestial-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Aclonica', sans-serif;
}

#cleo-image {
    width: 300px;
    height: 400px;
    float: right;
    margin-top: -275px;
    margin-right: 60px;
    border: none;
}

h1 {
    color: white; 
    font-size: 50px;
    text-align: center;
    border-bottom: 1px solid #222;
}

p {
    color: white;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
}

.main-container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #222;
    padding: 20px;
    height: 600px;
    max-width: 960px;
    margin: 25px auto;
}